/* font-family: 'Press Start 2P', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color: #e9e9e9b4;
  --button: #fae56e;
  --button-hover: #82dbc8b4;
}

h1 {
  font-family: "Bungee", cursive;
  color: white;
  font-size: 3rem;
}

h2 {
  font-family: "Ruda", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 15vh;
}

body {
  background-color: whitesmoke;
}

.header {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px 10px 10px 20px;
  float: left;
  font-size: 4rem;
  padding: 5px;
  border: solid 2px black;
  border-radius: 20px;
  transform: rotate(0.9turn);
}

.header p {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  float: right;
  font-family: "Ruda";
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#hero-wrapper-video {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  background-repeat: no-repeat;
  text-align: center;
  object-fit: cover;
  border-radius: 10px;
}

.hero-wrapper-text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px;
}

.picturefrom {
  position: absolute;
  left: 10px;
  bottom: 0px;
  color: rgb(61, 61, 61);
  font-size: xx-small;
}

.background-middle {
  background-image: url(images/pexels-pixabay-278918-new.png);
  background-size: cover;
  margin: 20px 5px 20px 5px;
  border-radius: 20px;
}

.grid {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 100px;
  padding: 20px 20px 100px 20px;
  border-radius: 50px;
}

.book-us {
  margin: 5rem 1rem 5rem 1rem;
  padding: 10px 20px 10px 20px;
  background-color: whitesmoke;
  border: black solid 3px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "bungee";
  font-size: 1.2rem;
  background-color: var(--button);
}

.book-us a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.starter-text button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--button-hover);
  border: dotted 3px black;
  font-size: 1.2rem;
  font-family: "bungee";
}

.starter-text button:focus {
  background-color: var(--button-hover);
  text-decoration: none;
}

.starter-text button:visited {
  outline: none;
  text-decoration: none;
}

.starter-text {
  grid-column: 1 / 5;
  text-align: center;
  font-size: 1.5rem;
  padding: 100px;
  border-radius: 20px;
}

.starter-text h2 {
  font-size: 3rem;
  padding: 0px 20px 10px 20px;
}

.first-argument,
.third-argument {
  grid-column: 1 / 3;
  text-align: center;
  background-color: var(--card-color);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-argument h2,
.second-argument h2,
.third-argument h2,
.forth-argument h2 {
  font-size: 3rem;
  padding: 20px;
}

.second-argument,
.forth-argument {
  grid-column: 3 / 5;
  text-align: center;
  background-color: var(--card-color);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-us {
  text-align: center;
  margin: 10rem;
}

.extra-large {
  font-size: 10rem;
  color: var(--button-hover);
}
.contact-us h2 {
  text-align: center;
  margin: 40px;
  font-size: 2rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Ruda";
}

input[type="submit"] {
  background-color: var(--button);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Bungee";
}

input[type="submit"]:hover {
  background-color: var(--button-hover);
}

.container {
  width: 60vw;
  border-radius: 20px;
  background-color: #cac8b0;
  padding: 20px;
  font-family: "Ruda";
  margin: 0 auto;
}

footer {
  background-color: rgb(216, 215, 215);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.left-footer {
  grid-column: 1 / 2;
  padding: 10px;
  margin-top: 10px;
}

.left-footer p, .middle-footer p {
  padding: 10px 10px 10px 0px;
}

.middle-footer {
  margin: 0 auto;
  grid-column: 2 / 3;
  padding: 10px;
  margin-top: 10px;
}

.right-footer {
  margin: 0 auto;
  grid-column: 3 / 4;
  padding: 10px;
  margin-top: 40px;
}



/*Carousel*/

.test-carousel {
  margin: 70px;
}

.what-others-said {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  background: var(--card-color);
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.recom1, .recom2, .recom3 {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    content: counter(.recom1);
    color: black;
    margin: 0 auto;
  object-fit: contain;
}